<!DOCTYPE html>
<html>
  <head>
    <title>A special message for you!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
        <canvas id="canvas"></canvas>
        <p class="message"><%= subDomain %> fucking hates you!!! YAY!</p>
        <div class="tweet">
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="fuckinghatesyou">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
    </main>
    <script type="text/javascript" src="/javascripts/hate.js"></script>
  </body>
</html>